.App {
    font-family: sans-serif;
    text-align: center;
    ul{
      list-style-type: none;
    }
    .hackerRank{
      width: 700px;
      margin: auto;
      border: 6px solid #ffbbbb;
      border-radius: 60px;
      padding: 30px;
      margin-top: 40px;
    }
    .mAuto{
      margin: auto;
    }
    
}
  